{% extends "base.html" %}

{% block contenido %}
    <table>
        <thead>
        <tr>
            <th>Imagen</th>
            <th>Pregunta</th>
        </tr>
        </thead>
        <tbody>
        {% for element in object_list %}
            <tr>
                <td>
                    {% if element.image %}
                        <img src="{{ element.image.url }}">
                    {% endif %}
                </td>
                <td>
                    {{ element.question_text }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}