{% extends "base.html" %}

{% block contenido %}
<div style="padding-bottom: 35%;">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                <a class="navbar-brand" href="{% url 'game:home' %}"><b>INICIO</b></a>
                <a class="navbar-brand" href="{% url 'game:ranking-list' %}"><b>RANKING</b></a>
            </div>
        </div>
    </div>

    <div class="container col-md-push-4 col-xs-6 col-sm-4">
        <h1 class="centered">
            ¡Hola, {{ user }}!
        </h1>
        <h2 class="centered" style="color: white;">¿Qué quieres hacer?</h2>

        <div class="container col-lg-push-3 col-sm-6">
            <div class="row centered" style="padding-top: 5%;">
                <a class="btn btn-success btn-lg btn-block" href="{% url 'game:game-create' %}">
                    Comenzar partida
                </a>
            </div>
            <div class="row centered" style="padding-top: 5%;">
                <a class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#continueModal">
                    Continuar partida
                </a>
            </div>
            <div class="row centered" style="padding-top: 5%;">
                <a class="btn btn-default btn-lg btn-block" href="{% url 'game:game-create' %}">
                    Mis puntuaciones
                </a>
            </div>
            <div class="row centered" style="padding-top: 5%;">
                <a class="btn btn-danger btn-lg btn-block" href="{% url 'user:logout' %}">
                    Salir
                </a>
            </div>
        </div>
    </div>



</div>


<div id="continueModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Partidas en juego</h4>
            </div>
            <div class="modal-body">
                {% for game in object_list %}
                    {% if not game.is_finished %}
                        <a href="{% url 'game:play-game' game_id=game.id %}">Continuar con la partida {{ game.id }}</a>
                        <bR>
                {% endif %}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% endblock %}






