{% extends "base.html" %}

{% block contenido %}

<script>

    function getGamePoints(game_id) {
        var request = new XMLHttpRequest();
        request.open('GET', '/game-points/' + game_id, true);

        request.onload = function() {

            if (request.status >= 200 && request.status < 400) {
                var resp = request.responseText;
                // game_id también es el elemento
                document.getElementById(game_id).innerText = resp + " de 10 puntos obtenidos.";
            } else {
                console.log("Error con el servidor");
            }
        };

        request.onerror = function() {
        // There was a connection error of some sort
        };

        request.send();
    }



</script>
    <table>
        <thead>
        <tr>
            <th>Partida</th>
            <th>Historia</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        {% for game in object_list %}
            <tr>
                <td>
                    {{ game.id }}
                </td>
                <td>
                    {{ game.story.name }}
                </td>
                <td>
                    {% if game.is_finished %}
                        Terminado
                        <span id="{{ game.id }}"></span>
                        <script>getGamePoints("{{ game.id }}")</script>
                    {% elif game.actual_question > 0 %}
                        En progreso
                    {% else %}
                        Sin comenzar
                    {% endif %}

                    {% if not game.is_finished %}
                        <form action="{% url 'game:play-game' game.id %}" method="post">
                        {% csrf_token %}
                            <input type="hidden" name="game_id" value="{{ game.id }}">
                            {% if game.actual_question > 0 %}
                                <input type="submit" value="Continuar la aventura" />
                            {% else %}
                                <input type="submit" value="Comenzar la aventura" />
                            {% endif %}
                        </form>
                    {% endif %}

                    <a href="{% url 'game:game-delete' pk=game.id %}">
                        <span></span>Borrar
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'game:game-create' %}">
        <span></span>Crear Partida
    </a>



{% endblock %}