{% extends "base.html" %}

{% block contenido %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          </button>
          <a class="navbar-brand" href="{% url 'game:home' %}"><b>INICIO</b></a>
            <a class="navbar-brand" href="{% url 'game:ranking-list' %}"><b>RANKING</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'user:logout' %}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" style="background-color: white; border-radius: 25px;   border: 2px solid; padding-top: 1%;">
        <h1 class="centered" style="color:black;">Ranking</h1>
        <table class="table table-hover table-striped">
            <tr>
                <th>Usuario</th>
                <th>Puntuación</th>
                <th>Historia</th>
                <th>Fecha</th>
            </tr>
            {% for game in object_list %}
            {% if game.is_finished %}
            <tr>
                <td>{{ game.user.username }}</td>
                <td>{{ game.points|floatformat:-2 }}</td>
                <td>{{ game.story }}</td>
                <td>{{ game.end_date }}</td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>

        <!--
        <div class="row centered">
            <div class="col-lg-4">
                <h1><strong>Usuario</strong></h1>
            </div>
            <div class="col-lg-4">
                <h1><strong>Historia</strong></h1>
            </div>
            <div class="col-lg-4">
                <h1><strong>Puntuación</strong></h1>
            </div>
        </div>
        {% for game in object_list %}
        {% if game.is_finished %}
            <div class="row centered">
                    <div class="col-lg-4">
                        <h3>{{ game.user.username }}</h3>
                    </div>
                    <div class="col-lg-4">
                        <h3>{{ game.story.name }}</h3>
                    </div>
                    <div class="col-lg-4">
                        <h3>Puntuación: {{ game.points|floatformat:-2 }}</h3>
                    </div>
            </div>
        {% endif %}
        {% endfor %}
        -->
    </div>

{% endblock %}