{% extends "base.html" %}

{% block contenido %}
    <table>
        <thead>
        <tr>
            <th>Partida</th>
            <th>Historia</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        {% for game in object_list %}
            <tr>
                <td>
                    {{ game.id }}
                </td>
                <td>
                    {{ game.story.name }}
                </td>
                <td>
                    {% if game.is_finished %}
                        Terminado
                    {% else %}
                        En progreso
                    {% endif %}
                </td>
                <td>
                    {# Sustituir GET por POST. Paso la id de dos formas a modo de ejemplo. #}

                    <form action="{% url 'game:play-game' game.id %}" method="post">
                    {% csrf_token %}
                        <input type="hidden" name="game_id" value="{{ game.id }}">
                        <input type="submit" value="Comenzar la aventura" />
                    </form>
                        <span></span>

                    <a href="{% url 'game:game-delete' pk=game.id %}">
                        <span></span>Borrar
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'game:game-create' %}">
        <span></span>Crear Partida
    </a>
{% endblock %}